* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #454e58;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

.central-container {
  max-width: 1024px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.image-container, .left-column {
  background-color: #cdfcf6;
  width: 40%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-container, .right-column {
  background-color: #faf7f0;
  width: 60%;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dde6ed;
  padding: 5px 80px 0 80px;
}

.photo {
  display: block;
  margin: 30px auto;
  width: 70%;
  border-radius: 50%;
}

section {
  margin: 15px 15px 15px 40px;
  padding: 0 20px 0 20px;
}

h1, h2 {
  text-transform: uppercase;
}

.non-marked-list {
  padding-left: 0;
  margin-left: 30px;
  list-style-type: none;
  > li { position: relative; }
}

.fa {
  position: absolute;
  left: 15px;
  width: 15px;
  top: (2em / 14);
  text-align: center;
}

.marked-list {
  margin-left: 20px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 36px;
}

.title {
  font-size: 24px;
}

.code-examples {
  background-color: white;
  margin: 10px 10px 0 0;
  padding-top: 25px;
}