* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 ;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
}

.central-container {
  max-width: 1024px;
  margin: 30px auto 30px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  background-color: rgb(94, 219, 214);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  background-color: rgb(195, 218, 218);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  background-color: rgb(94, 219, 214);
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;
  background-color: rgb(195, 218, 218);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.photo {
  display: block;
  margin: 30px auto 30px auto;
  width: 70%;
}

.section {
  margin: 10px;
  padding: 0 0 0 20px;
}




